/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Train+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syncopate&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asset&display=swap");
/* font-family: 'Train One', cursive; */
/* font-family: 'Syncopate', sans-serif; */
/* font-family: 'Syncopate', sans-serif; */
/* font-family: 'Lato', sans-serif; */
/* font-family: 'Asset', cursive; */
/* H3 */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@200;300;400;500&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"); */

/* font-family: 'Poppins', sans-serif; */

/* CONTAINER */
.container {
  display: flex;
  background-color: darkgreen;
  background-image: url("../assets/images/green-astroturf-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* font-family: "Lato", sans-serif; */
  font-family: "Comfortaa", sans-serif;
  /* font-weight: 200; */
  font-weight: 400;
}

/* MAIN */
.main {
  flex: 1;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}
.main-header {
  border: 1px solid floralwhite;
  display: flex;
  justify-content: center;
  align-items: center;
  color: floralwhite;
  font-size: 9.2rem;
  background-color: rgb(2, 43, 22);
  height: 10%;
  flex: 2 1 auto;
  text-transform: uppercase;
  text-shadow: -2.4rem -0.5rem 0.3rem rgba(95, 90, 90, 0.685);
  font-weight: 700;
  letter-spacing: 2.2rem;
  font-weight: 700;
  font-family: "Syncopate", sans-serif;

  /*  */
}
.main-play-area {
  display: flex;
  flex-direction: column;
  height: 75%;
}
.card-wrapper {
  padding: 1rem;
  height: 90%;
}
.card {
  box-shadow: -1rem -1rem 1rem 0px rgba(0, 0, 0, 0.7);
}
.card-play-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 50%;
  /* margin: 3rem 0; */
}
.deck-card {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  /* display: none; */
}
.computer-play-card {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0 0 0;
  /*  */
  display: none;
}
.player-play-card {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0 0 0;
  cursor: pointer;
  /*  */
  display: none;
}
.discard-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50%;
  /* margin: 0 2rem; */
  /*  */
  /* display: none; */
}
.computer-discard {
  display: flex;
  justify-content: center;
  margin: 0 39rem 0 0;
  display: none;
}
.player-discard {
  display: flex;
  justify-content: center;
  margin: 0 0 0 39rem;
  display: none;
}

.main-score-area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: beige;
  border: 1px solid floralwhite;
  border-radius: 4px 0 0 0;
  height: 15%;
  font-size: 3rem;
  color: rgb(77, 77, 77);
  margin: 0;
}
.count-score {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
  /* padding: 0 10rem 0 0; */
  /* border: 1px solid rgb(255, 72, 0); */
  font-weight: 400;
}
.score-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#score {
  font-weight: 300;
}
.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-text {
  font-size: 2.7rem;
}
/* .computer-score {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10rem 0 0;
} */
/* .info-container {
  
} */
/* .player-score {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 0 0 10rem;
} */

/* SIDEBAR-CONTAINER */
.sidebar {
  flex: 0 22%;
  display: flex;
  flex-direction: row;
  border: 1px solid floralwhite;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.75);
}
.close {
  display: none;
}

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid floralwhite;
  background-color: rgba(0, 0, 0, 0.75);
}

/* COLLAPSE ARROW */
.sidebar-collapse-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  right: auto;
  cursor: pointer;
  position: relative;
  font-size: 4rem;
  color: gray;
  background-color: floralwhite;
  border-radius: 4px 0 0 4px;
}

.sidebar-top {
  flex: 1 48%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.sidebar-top-header {
  height: 8rem;
  font-size: 3rem;
  color: floralwhite;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid floralwhite;
  background-color: rgb(2, 43, 22);
  /* font-family: "Syncopate", sans-serif; */
  font-weight: 200;
}
.sidebar-top-contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0 1rem 0;
}
.card-design {
  width: 24%;
  margin: 2rem 1rem 2rem 1rem;
  cursor: pointer;
}
/* SIDEBAR-BOTTOM */
.sidebar-bottom {
  flex: 1 48%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* SIDEBAR-BOTTOM-HEADER */
.sidebar-bottom-header {
  height: 8rem;
  font-size: 3rem;
  color: floralwhite;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid floralwhite;
  border-bottom: 1px solid floralwhite;
  background-color: rgb(2, 43, 22);
  /* font-family: "Syncopate", sans-serif; */
  font-weight: 200;
}

/* SIDEBAR-BOTTOM-CONTENTS */
.rules-btn-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}
.rules-btn {
  width: 20rem;
  height: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 500;
  background-color: tomato;
  background-color: navajowhite;
  border: 4px solid floralwhite;
  border-radius: 8px;
  cursor: pointer;
}

.close {
  display: none;
}
/* MODAL */
/* modal part */
#modal-background {
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#modal {
  background-color: floralwhite;
  position: absolute;
  top: 40%;
  left: 33%;
  transform: translate(-35%, -35%);
  width: 52rem;
  height: 42rem;
  padding: 2.5rem;
  border-radius: 8px;
  box-shadow: -1rem -1rem 3rem 1rem rgba(0, 0, 0, 0.7);
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.85);
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
}

#close-btn {
  font-size: 3rem;
  position: absolute;
  top: -0.5rem;
  right: 1rem;
  color: tomato;
}

#close-btn:hover {
  cursor: pointer;
  color: #ff0000;
}

.citation {
  font-size: 0.25rem;
  color: dimgray;
}
.modal-title {
  font-size: 2rem;
}
hr {
  color: gray;
  margin: 1rem 0;
  border: 0.01rem solid gray;
  border-radius: 1rem;
  background-color: gray;
}
